@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: batman;
    src: url(../fonts/batmfa__.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
body{
    background-color: #262626;
    background: url(../images/1.jpg) no-repeat center fixed;
    background-size: cover;
}

/* Nav Bar Styles */
.navbar{
    position: fixed;
    display: flex;
    padding: 1.25em;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar.sticky{
    background: black;
}

.gradient{
    font-size: 1.875em;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, yellow, rgb(123, 255, 0));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "batman", Arial, Helvetica, sans-serif;
}
.green{
    color: yellowgreen;
}
.menu{
    position: fixed;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    background: rgba(17, 17, 17, 0.9);
    text-align: center;
    padding-top: 5em;
    transition: all 0.5s ease;
    list-style: none;
}
.menu.active{
    right: 0%;
}
.menu li{
    text-align: center;
    margin-top: 0.9375em;
    padding: 0.9375em;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.25em;
}
.drop-down{
    z-index: 999;
    color: white;
}
.drop-down i.active::before{
    content: "\f00d";
}

/* Common styles */
.container{
    padding: 0 1.25em;
    margin-bottom: 1.875em;
}
/* Home Styles */
.homemax{
    height: 100vh;
    background: url("../images/1.jpg") no-repeat center fixed;
    background-size: cover;
}
.home{
    padding-top: 8.125em;
}

.top-part{
    color: white;
    margin-bottom: 3.125em;
}
.top-part .header{
    font-weight: bolder;
    font-size: 2.5em;
    line-height: 2.5em;
    color: white;
    margin-bottom: 1.875em;
}
.top-part h1 span{
    font-weight: normal;
    font-size: 35px;
}
.bottom-part .but1{
    margin: auto;
    margin-top: 1.875em;
    text-align: center;
    width: 100%;
}
.bottom-part .but2{
    margin: auto;
    margin-top: 1.875em;
    text-align: center;
    width: 100%;
}
.buy{
    display: inline-block;
    background: #008000;
    background: linear-gradient(to left, #00804d, #008000);
    color: white;
    width: 100%;
    height: 100%;
    padding: 1.25em 0.625em;
    border-radius: 0.375em;
    box-shadow: 0 0.1875em 2em rgb(0 166 0 / 54%);
}
.buy:hover{
    background: rgb(0, 255, 140);
    box-shadow: 0 0.1875em 2em rgb(0 255 140 / 54%);
    transform: scale(1.05);
}
.white{
    display: inline-block;
    background: #ff3f00;
    background: linear-gradient(to right, #ff0c00, #ff3f00);
    color: white;
    width: 100%;
    height: 100%;
    padding: 1.25em 0.625em;
    border-radius: 0.375em;
    box-shadow: 0 0.1875em 2em rgb(255, 63, 0);
}
.white:hover{
    background: rgb(255, 115, 0);
    box-shadow: 0 0.1875em 2em rgb(255 115 0 / 54%);
    transform: scale(1.05);
}

/* Scroll Up Styles */
.scroll-up-btn{
    position: fixed;
    height: 2.8125em;
    width: 2.625em;
    background: green;
    right: 1.875em;
    bottom: 0.625em;
    text-align: center;
    line-height: 2.8125em;
    color: #fff;
    z-index: 9999;
    font-size: 1.875em;
    border-radius: 0.375em;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 1.875em;
    opacity: 1;
    pointer-events: auto;
}

/* About styles */
.about-section{
    background: #262626;
    color: rgb(255, 254, 254);
    padding: 1.875em 1.25em;
    border-radius: 0.625em;
}
.about-section .title{
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 3.75em;
    padding-bottom: 1.25em;
    font-family: 'Ubuntu', sans-serif;
}
.about-section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 11.25em;
    height: 0.1875em;
    background: #111;
    transform: translateX(-50%);
}
.about-section .title::after{
    position: absolute;
    bottom: -0.9375em;
    left: 50%;
    font-size: 1.25em;
    color: green;
    padding: 0.3125em;
    background: #262626;
    transform: translateX(-50%);
    content: "who we are";
}
.points{
    list-style: circle;
    margin-left: 1.875em;
}
.points li{
    margin-bottom: 0.625em;
    line-height: 1.5625em;
}
.left h3{
    margin-bottom: 1.25em;
}
.left .explain{
    margin-bottom: 1.25em;
    line-height: 1.5625em;
}
.img-wrap{
    width: 100%;
    margin: 1.875em auto 0 auto;
}
.explain-img{
    display: block;
    width: 100%;
    border-radius: 0.625em;
}
b{
    color: green;
}

/* Services styles */
.services-section .title{
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 3.75em;
    padding-bottom: 1.25em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.services-section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 11.25em;
    height: 0.1875em;
    background: #111;
    transform: translateX(-50%);
}
.services-section .title::after{
    position: absolute;
    bottom: -0.9375em;
    left: 50%;
    font-size: 1.25em;
    color: green;
    padding: 0.3125em;
    background: #111;
    transform: translateX(-50%);
    content: "Use Case";
}
.use-case{
    width: 90%;
    height: 33vh;
    margin: 1.25em auto 1.25em auto;
    border-radius: 0.625em;

}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.icon i{
    display: block;
    font-size: 3.125em;
}
.mining{
    background: #515ada;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    transition: all .2s ease-in;
}
.mining:hover{
    transform: scale(1.1);
}
.DApp{
    background: red;
    background: linear-gradient( 90deg, #FF7F50, #DC143C);
    transition: all .2s ease-in;
}
.DApp:hover{
    transform: scale(1.1);
}
.NFT{
    background: green;
    background: linear-gradient(90deg, #1DB954, #006241);
    transition: all .2s ease-in;
}
.NFT:hover{
    transform: scale(1.1);
}
.DEX{
    background: purple;
    background: linear-gradient(90deg, #EE82EE, #720e9e);
    transition: all .2s ease-in;
}
.DEX:hover{
    transform: scale(1.1);
}

/* Roadmap Styles */
.roadmap-section .title{
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 3.75em;
    padding-bottom: 1.25em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.roadmap-section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 11.25em;
    height: 0.1875em;
    background: #111;
    transform: translateX(-50%);
}
.roadmap-section .title::after{
    position: absolute;
    bottom: -0.9375em;
    left: 50%;
    font-size: 1.25em;
    color: green;
    padding: 0.3125em;
    background: #111;
    transform: translateX(-50%);
    content: "Our Plans";
}
.road-content-title{
    color: white;
    font-weight: bold;
    margin: 0.625em 0 0.625em 0;
}
.roadmap{
    color: grey;
    list-style: square;
}
.roadmapp{
    margin-left: 1.875em;
}
.roadmap-section{
    background: #262626;
    color: rgb(255, 254, 254);
    padding: 1.875em 2.5em;
    border-radius: 0.625em;
    width: 100%;
    margin-left: auto;
    margin-right: 1.875em;
}

/* Tokenomics Styles */
.tokenomics-section .title{
    text-align: center;
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 3.75em;
    padding-bottom: 1.25em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.tokenomics-section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 11.25em;
    height: 0.1875em;
    background: #111;
    transform: translateX(-50%);
}
.tokenomics-section .title::after{
    position: absolute;
    bottom: -0.9375em;
    left: 50%;
    font-size: 1.25em;
    color: green;
    padding: 0.3125em;
    background: #111;
    transform: translateX(-50%);
    content: "Allocation";
}
.token-info-detail{
    background: #262626;
    color: rgb(255, 254, 254);
    padding: 1.875em 1.25em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5625em;
    margin-bottom: 1.25em;
}

/* Footer Styles */
.footer{
    background: #000;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.625em 1.25em;
}
.icons i{
    color: green;
    font-size: 1.25em;
    margin: 0.625em;
}
.icons i:hover{
    color: white;
}

/* Desktop styles and media queries */
@media screen and (min-width:580px) {
   .bottom-part{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       width: 60%;
   }
   .buy, .white{
       width: 85%;
   }
   .bottom-part .but1,
   .bottom-part .but2{
        margin: auto;
        margin-top: 1.875em;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width:1000px) {
    .navbar {
        padding: 1.25em 1.875em;
    }
    #drop{
        display: none;
    }
    .menu{
        display: flex;
        position: relative;
        justify-content: space-between;
        height: inherit;
        width: initial;
        right: 0;
        top: 0;
        text-align: center;
        transition: all 0.5s ease;
        padding: 0;
        background: none;
    }
    .menu li {
        text-align: center;
        margin-top: 0px;
        padding: 0;
        margin-right: 0.9375em;
    }
    .menu li a{
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-size: 0.9375em;
        transition: all 0.1s ease;
    }
    .menu li a:hover{
        border-bottom: 2px solid white;
    }
    .bottom-part{
        width: 40%;
    }

    /* About Desktop Styles */
    .about-section{
        background: #262626;
        color: rgb(255, 254, 254);
        padding: 1.875em 2.5em;
        border-radius: 0.625em;
        width: 70%;
        margin-left: auto;
        margin-right: 1.875em;
    }
    .about-section .title{
        text-align: center;
        position: relative;
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: 3.75em;
        padding-bottom: 1.25em;
        font-family: 'Ubuntu', sans-serif;
    }
    .about-section .title::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 11.25em;
        height: 0.1875em;
        background: #111;
        transform: translateX(-50%);
    }
    .about-section .title::after{
        position: absolute;
        bottom: -0.9375em;
        left: 50%;
        font-size: 1.25em;
        color: green;
        padding: 0.3125em;
        background: #262626;
        transform: translateX(-50%);
        content: "who we are";
    }
    .points{
        list-style: circle;
        margin-left: 1.875em;
    }
    .points li{
        margin-bottom: 0.625em;
    }
    .left h3{
        margin-bottom: 1.25em;
    }
    .left .explain{
        margin-bottom: 1.25em;
    }
    .img-wrap{
        width: 40%;
        margin: 1.875em auto 0 auto;
    }
    .explain-img{
        display: block;
        width: 100%;
        border-radius: 0.625em;
    }
    

    /* Services styles */
    .use-flex{
        display: flex;
        width: 100%;
    }
    .services-section .title{
        text-align: center;
        position: relative;
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: 3.75em;
        padding-bottom: 1.25em;
        font-family: 'Ubuntu', sans-serif;
        color: white;
    }
    .services-section .title::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 11.25em;
        height: 0.1875em;
        background: #111;
        transform: translateX(-50%);
    }
    .services-section .title::after{
        position: absolute;
        bottom: -0.9375em;
        left: 50%;
        font-size: 1.25em;
        color: green;
        padding: 0.3125em;
        background: #111;
        transform: translateX(-50%);
        content: "Use Case";
    }
    .use-case{
        width: 20%;
        height: 33vh;
        margin: 1.25em auto 1.25em auto;
        border-radius: 0.625em;

    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
    .icon i{
        display: block;
        font-size: 3.125em;
    }
    .mining{
        transition: all .2s ease-in;
    }
    .mining:hover{
        transform: scale(1.2);
    }
    .DApp:hover{
        transform: scale(1.2);
    }
    .NFT:hover{
        transform: scale(1.2);
    }
    .DEX:hover{
        transform: scale(1.2);
    }

    /* Roadmap Desktop Styles */
    .roadmap-section{
        background: #262626;
        color: rgb(255, 254, 254);
        padding: 1.875em 2.5em;
        border-radius: 0.625em;
        width: 70%;
        margin-left: auto;
        margin-right: 1.875em;
    }

    /* Token Desktop Styles */
    .token-info{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }
    .token-info-detail{
        margin: auto;
        width: 40%;
        color: white;
    }
    .token-info-detail h3{
        color: white;
        text-align: center;
        position: relative;
        font-size: 1.25em;
        font-weight: 500;
        padding-bottom: 1.25em;
        font-family: 'Ubuntu', sans-serif;
    }
    .token-info-chart{
        margin: auto;
        width: 40%;
    }
}